// Colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$white: hsl(0, 0%, 100%);

// Typography
$font-family-BS: "Big Shoulders", sans-serif;
$font-family-lexend: "Lexend Deca", sans-serif;
$font-size-body: 0.9375rem;
$font-size-title: 2.5rem;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Transition
$color-transition: color 0.3s ease-in-out;
$bg-color-transition: background-color 0.3s ease-in-out;

//Spacing
$spacing-sm: 1.5rem;
$spacing-md: 2.1875rem;
$spacing-lg: 3rem;

//Border-radius 
$border-radius-sm: 0.5rem;
$border-radius-lg: 1.5rem;